.navbar-section{
  width: 100%;
  height: 12vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1px solid rgba(0,0 ,0,0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.image-section-left{
  margin-left: 40px; 
}

.image-section-left img{
  width: 27%;
  height: 20%;
}

.right-section{
  margin-right: 40px;
}

.right-section a{
  font-size: large;
  font-weight: 500;
  cursor: pointer;
  color: black;
  text-decoration: none;
  padding: 10px;
}

.right-section a:hover{
  color: black;
  transition: 0.5s ease-out;
}

.right-section button{
  padding: 12px 20px;
  color: white;
  background-color: #cf2e2e ;
  border-radius: 10px;
  cursor: pointer;
  border: none; 
}

/* .right-section button:hover{
  color: white;
  background-color: black;
  transition: 0.5s ease-out;
} */

@media screen and (max-width:1200px){
  .navbar-section{
    width: 100%;
    height: 10vh;
  }
}

@media screen and (max-width:670px){
  .navbar-section{
    width: 100%;
    height: 8vh;
  }

  .right-section{
    display: flex;
    width: 70%;
    align-items: center;
    margin: auto;
  }
  .right-section button{
    padding: 8px 10px;
  }
}

@media (max-width:520px) and (max-height:940px){
  .navbar-section{
    height: 45vh;
  }
  .right-section a{
    padding-right: -10%;
  }
  .right-section{
    margin-bottom: 50px;
  }
}
@media screen and (max-width:520px){
  .navbar-section{
    width: 100%;
    height: 35vh;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .image-section-left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    /* margin-top: 15px; */
  }

  .image-section-left img{
    width: 70%;
    height: 60%;
    /* margin-top: 25px; */
    /* margin-right: 20px; */
  }

  .right-section{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
